<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AnhTuan - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="shortcut icon" href="//cdn.perfmatters.io/favicon.ico" type="image/x-icon"/>

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/sb-admin-2.min.css}">


</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/admin/fragments/_sidebar :: sidebar">...</div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="/admin/fragments/_navbar :: navbar">...</div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">List Blogs</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="dataTable_length">
                                            <label>
                                                <form th:action="@{/admin/blogs/add}" method="get">
                                                    <button type="submit" class="btn btn-success">New Blog</button>
                                                </form>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6" style="text-align: right; display: block;">
                                        <div id="dataTable_filter" class="dataTables_filter">
                                            <label>
                                                <input type="search" class="form-control form-control"
                                                       placeholder="Search..." aria-controls="dataTable">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Created At</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Created At</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="blog : ${blogs}">
                                    <td th:text="${blog.id}"></td>
                                    <td style="width: 100px; height: 130px;">
                                        <img th:src="@{/img/blog/__${blog.getImage()}__}" alt="My Image" height="120"/>
                                    </td>
                                    <td th:text="${blog.title}"></td>
                                    <td th:text="${blog.created_at}"></td>
                                    <td th:text="${blog.status == 1 ? 'Active' : 'Unactive'}"></td>
                                    <td><a th:href="@{'/admin/blogs/detail/' + ${blog.id}}">Edit</a></td>
                                    <!--    <td><a th:href="@{'/admin/user/delete/' + ${user.getId()}}">Delete</a></td>-->
                                </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous" id="dataTable_previous">
                                                <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0"
                                                   class="page-link">Previous</a></li>

                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0"
                                                   class="page-link">1
                                                </a>
                                            </li>

                                            <li class="paginate_button page-item next" id="dataTable_next">
                                                <a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0"
                                                    class="page-link">Next</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
<!--                                <div class="col-sm-12 col-md-5">-->
<!--                                    <div class="dataTables_info" id="dataTable_info" role="status"-->
<!--                                         aria-live="polite">Showing <span th:text="${currentPage}+1"></span> of <span th:text="${totalPages}"></span>  pages-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <div th:replace="/admin/fragments/_footer :: footer">...</div>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div th:replace="/admin/fragments/_logout :: logout">...</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
</body>
</html>