*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table{
    margin: 10px auto;
    border: 1px solid chocolate;
    border-collapse: collapse;
}
table tr{
    border: 1px solid chocolate;
    border-collapse: collapse;
}
table tr td{
    border: 1px solid chocolate;
    border-collapse: collapse;
}
table tr th{
    border: 1px solid chocolate;
    border-collapse: collapse;
}
.error{
    color:red;
}
span{
    font-size: 39px;
    color: #ff833c;
}