<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AnhTuan - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="shortcut icon" href="//cdn.perfmatters.io/favicon.ico" type="image/x-icon"/>

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/sb-admin-2.min.css}">


</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="/admin/fragments/_sidebar :: sidebar">...</div>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
    <!-- Topbar -->
    <div th:replace="/admin/fragments/_navbar :: navbar">...</div>
    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Add Product</h1>
        <form class="row" method="post" th:action="@{/admin/products/create}" th:object="${product}" enctype="multipart/form-data">
            <div class="col-sm-6">
                <div class="form-group mb-3">
                    <label for="name">Product Name </label>
                    <input id="name" name="name" type="text" th:field="*{name}" class="form-control validate" required/>
                </div>
                <div class="form-group mb-3">
                    <label for="price">Price </label>
                    <input id="price" name="price" type="text" th:field="*{price}" class="form-control validate" required/>
                </div>
                <div class="form-group mb-3">
                    <label for="quantity">Quantity</label>
                    <input id="quantity" name="quantity" type="text" th:field="*{quantity}" class="form-control validate" required/>
                </div>
                <div class="form-group mb-3">
                    <label for="description" >Description</label>
                    <textarea id="description" class="form-control validate" th:field="*{description}" rows="3" required></textarea>
                </div>
                <div class="form-group mb-3">
                    <label for="category">Category</label>
                    <select th:field="*{category}" class=" form-control custom-select tm-select-accounts" id="category">
                        <option value="">-- Select category --</option>
                        <option th:each="cat: ${Categories}"
                                th:value="${cat.getId()}"
                                th:text="${cat.getName()}">
                        </option>
                    </select>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                    <div class="tm-product-img-dummy mx-auto">
                        <img class="mx-auto" id="imagePreview" src="https://via.placeholder.com/300" alt="Image preview" width="300" height="300"
                             onclick="document.getElementById('fileInput').click();">
                    </div>
                    <div class="custom-file mt-3 mb-3">
                        <input id="fileInput" type="file" style="display:none;" th:field="*{image}" onchange="previewImage(this);" multiple/>
                        <input type="button" class="btn btn-primary btn-block mx-auto" value="UPLOAD PRODUCT IMAGE"
                               onclick="document.getElementById('fileInput').click();" />
                    </div>
                </div>
            </div>
            <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
        </div>
        </form>
    </div>
    <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <div th:replace="/admin/fragments/_footer :: footer">...</div>
    <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div th:replace="/admin/fragments/_logout :: logout">...</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>
<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
</body>
</html>