<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create new product</title>
</head>
<body>
<h1>Create new product</h1>
<form id="addProductForm" th:action="@{/admin/products/create}" method="post" th:object="${product}" enctype="multipart/form-data">
  <table>
    <tr>
      <td>Name</td>
      <td><input type="text" th:field="*{name}"></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><input type="text" th:field="*{price}"></td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td><input type="text" th:field="*{quantity}"></td>
    </tr>
    <tr>
      <td>Desciption</td>
      <td><input type="text" th:field="*{description}"></td>
    </tr>
    <tr>
      <td>Image</td>
      <td><input type="file" th:field="*{image}"></td>
    </tr>
    <tr>
      <td>Created_at</td>
      <td><input id="current-time" type="text" th:field="*{created_at}" ></td>
    </tr>
    <tr>
      <td>Status</td>
      <td><input type="text" th:field="*{status}" th:value="1"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Create"></td>
    </tr>
  </table>
</form>
</body>
<script>
  let currentDatetime = new Date().toISOString();
  let datetime = new Date(currentDatetime);
  let timestamp = datetime.getTime() / 1000;
  // Gán vào thẻ HTML
  document.getElementById('current-time').innerHTML = timestamp;
</script>
</html>