<div class="container-fluid">
    <div class="card-wrapper">
        <form th:action="@{admin/product/edit}" method="post" th:object="${product}" novalidate="novalidate">
        <div class="card">
            <!-- card left -->
            <div class="product-imgs">
                <div class="img-display">
                    <div class="img-showcase">
                        <img th:src="@{/img/product/__${product.getImage()}__}">
                        <tr th:each="galery : ${galeries}">
                            <td>
                                <img th:src="@{/img/product/__${galery.getThumbnail()}__}"/>
                            </td>
                        </tr>
                    </div>
                </div>
                <div class="img-select">
                    <div class="img-item">
                        <a href="#" data-id="1">
                            <img th:src="@{/img/product/__${product.getImage()}__}">
                        </a>
                    </div>
                    <div class="img-item" th:each="galery,stt : ${galeries}">
                        <a href="#" th:attr="data-id=${stt.count+1}">
                            <img th:src="@{/img/product/__${galery.getThumbnail()}__}"/>
                        </a>
                    </div>
                </div>
            </div>
            <!-- card right -->
            <div class="product-content">
                <div class="row mb-3">
                    <div class="col-auto">
                        <label for="product-name" class="form-label">Product Name:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="product-name"
                           th:field="*{name}" disabled="disabled">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-auto">
                        <label class="form-label" for="product-category">Category</label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="product-category" disabled="disabled">
                            <option th:each="category: ${Categories}"
                                    th:value="${category.getId()}"
                                    th:text="${category.getName()}"
                                    th:selected="${category.getId().longValue() == selected}">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-auto">
                        <label for="product-price" class="form-label">Price:</label>
                    </div>
                    <div class="col">
                        <input name="product" type="text" class="form-control" id="product-price"
                               th:field="*{price}" disabled="disabled">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-auto">
                        <label for="product-quantity" class="form-label">Quantity:</label>
                    </div>
                    <div class="col">
                        <input name="product" type="number" class="form-control" id="product-quantity"
                               th:field="*{quantity}" disabled="disabled">
                    </div>
                </div>
<!--                <div class="mb-3">-->
<!--                    <label for="product-quantity" class="form-label">Category:</label>-->
<!--                    <input name="product" type="number" class="form-control" id="product-quantity"-->
<!--                           th:field="*{category.name}" disabled="disabled">-->
<!--                </div>-->

                <div class="product-detail">
                    <div class="row mb-3">
                        <label for="product-description" class="form-label">Description:</label>
                        <textarea name="product" rows="7"  class="form-control" id="product-description"
                                  th:field="*{description}" disabled="disabled"></textarea>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-auto">
                        <label class="col-form-label">Created At:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" th:field="*{created_at}" disabled>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-auto">
                        <label class="col-form-label">Status:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" th:field="*{status}">

                        <label class="toggle">
                            <input type="checkbox">
                            <span class="slider"></span>
                            <span class="labels" data-on="ON" data-off="OFF"></span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="dataTable_length">
                            <label>
                                <a th:href="@{/admin/products/list}" class="btn btn-danger">Back To List</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6" style="text-align: right; display: block;">
                        <div class="row mb-3">
                            <div class="col mr-auto">
                                <button id="enable-fields-button" class="btn btn-success">EDIT</button>
                            </div>
                            <div class="col-auto">
                                <button id="fields-button" class="btn btn-danger">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </form>

    </div>
</div>

<link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.min.css}">
<link rel="stylesheet" th:href="@{/css/product/product-edit.css}">
<!--<link rel="stylesheet" th:href="@{/css/toggle-button.css}">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"/>
<script th:src="@{/js/product/product-edit.js}"></script>
<script>
    const name = document.querySelector('#product-name');
    const price = document.querySelector('#product-price');
    const quantity = document.querySelector('#product-quantity');
    const description = document.querySelector('#product-description');
    const category = document.querySelector('#product-category');


    const enableFieldsButton = document.querySelector('#enable-fields-button');

    enableFieldsButton.addEventListener('click', enableFields);

    function enableFields() {
        name.removeAttribute('disabled');
        price.removeAttribute('disabled');
        quantity.removeAttribute('disabled');
        description.removeAttribute('disabled');
        category.removeAttribute('disabled');

        enableFieldsButton.setAttribute('disabled', true);
    }
</script>