<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Category</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <form  th:object="${category}" th:action="@{/admin/category/save}" method="post">
        <div class="container">
            <div class="row">
                <label for="name">Category Name</label>
                <input type="text" th:field="*{name}" id="name" />
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p>
            </div>
            <div class="row">
                <label for="parentId">parentId</label>
                <input type="text" th:field="*{parentId}" id="parentId" />
                <p th:if="${#fields.hasErrors('parentId')}" th:errors="*{parentId}" class="error"></p>
            </div>
            <div class="row">
                <label for="description">Description</label>
                <input type="text" th:field="*{description}" id="description" />
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"></p>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="dataTable_length">
                        <label>
                            <a th:href="@{/admin/categories/list}" class="btn btn-danger">Back To List</a>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" style="text-align: right; display: block;">
                    <input type="submit" value="add new Category" />
                </div>
            </div>
        </div>
    </form>
</body>
</html>